@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');
* {
    /* border: solid 1px pink; */
    margin: 0;
    padding: 0;
}
.About {
    background-image: url('../Asset/background.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.about-container {
    display: flex;
    width: 90%;
    height: 90%;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Content */
.about-content {
    margin: 100px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.about-content h1 {
    font-size: 2.5vw;
}

.about-content p {
    font-size: 1vw;
    margin-bottom: 10px;
}

.social-icons a{
    margin-right: 3vw;
    font-size: 2vw;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.about-button {
    margin-top: 10px;
    width: 13vw; 
    height: 3vw; 
    border: none;
    border-radius: 50px; 
    background: white;
    border: solid 2px #fff;
    color: rgb(200, 0, 255, 0.6);;
    font-size: 1.4vw;
    font-weight: bold;
    outline: none; 
    position: relative;
    transition: all 0.3s ease; 
}

.about-button:hover {
    background: rgb(200, 0, 255, 0.8);
    color: white;
    transform: translateY(-2px);
    transform: scale(1.05);
}

.about-image img{
    width: 35vw;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(200, 0, 255, 0.6);
    overflow: hidden; 
    border: 5px solid #fff;
    background-color: white; 
    transition: 0.9s ease;
}

about-img:hover {
    transform: scale(1.07);
}

/* Responsive */
@media (max-width: 768px) {
  .about-content {
    margin: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 96%;
  }

  .about-text {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .about-content h1 {
    font-size: 5vh;
    line-height: 5vh;
    margin-bottom: 4px;
  }

  .about-content p {
    font-size: 1.5vh;
    line-height: 1.6vh;
  }
  .about-button {
    width: 200px; 
    height: 50px; 
    border-radius: 50px; 
    font-size: 4vw;
  }
  
  .about-image img {
    width: 250px;
    margin: 0px;
  }
}
